.display-1{
    color: white;
    text-align: center;
    margin-top: 50px;
    font-family: 'IM Fell English SC', serif;
}
.display-2{
    color: #00bacf;
    text-align: left;
    margin-top: 45px;
    font-family: 'IM Fell English SC', serif;
}
.nums{
    color:#ff3068;
    font-family: 'Orbitron', sans-serif;
}

.tableFixHead          { overflow-y: auto; height: 500px; }
.tableFixHead thead th { position: sticky; top: 0; }
table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; font-size: 25px;}
th     { background:#bdbbbb; }
tr :hover{
    background-color: turquoise;
}
.display-4 { text-align: right;
    font-family: 'IM Fell English SC', serif;
color: white; font-size: 25px;}  
p{color: white;font-size: 25px;
    font-family: 'IM Fell English SC', serif; }
.container-nf{ height:500px;}
.navbar{
    background-color:#bdbbbb ;
}

a, .navbar-brand
{color: black; font-size: 25px;
    font-family: 'IM Fell English SC', serif; }